version: "3.9"

services:
  postgres:
    image: postgres:16.5
    container_name: profrating_db
    environment:
      POSTGRES_DB: profrating
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
